<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
    <meta charset="ISO-8859-1">
    <title>New Customer</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>

    <section>

        <nav aria-label="breadcrumb" class="margin-20">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/cutomers}">customers</a></li>
                <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
        </nav>

        <div class="card text-center margin-20">
            <div class="card-header">
                New Customer
            </div>
            <div class="card-body" style="text-align: left;">

                <form th:action="@{/customers/savenew}" th:object="${customer}" method="post"
                      class="row g-3 needs-validation" novalidate>
                    <div class="col-md-3">
                        <label for="dni" class="form-label">dni</label>
                        <input type="text" class="form-control" th:field="*{dni}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="firstName" class="form-label">firstName</label>
                        <input type="text" class="form-control" th:field="*{firstName}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="lastName" class="form-label">lastName</label>
                        <input type="text" class="form-control" th:field="*{lastName}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="email" class="form-label">email</label>
                        <input type="text" class="form-control" th:field="*{email}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="image" class="form-label">image</label>
                        <input type="text" class="form-control" th:field="*{image}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>


                    <div class="col-12" style="text-align: center;">
                        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Save</button>
                    </div>
                </form>

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>

</body>
</html>