<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Edit publication</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a th:href="@{/publications}">publications</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Edit</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    Edit publications
	  </div>
	  <div class="card-body" style="text-align: left;">
	  	
	  	<form th:action="@{'/employees/' + ${employee.id} + '/update'}" th:object="${employee}" method="post" class="row g-3 needs-validation" novalidate>
		  <div class="col-md-3">
		    <label for="name" class="form-label">Name</label>
		    <input type="text" class="form-control" th:field="*{name}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  
		  <div class="col-md-3">
		    <label for="description" class="form-label">description</label>
		    <input type="text" class="form-control" th:field="*{description}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  
		  <div class="col-md-3">
		    <label for="image" class="form-label">image</label>
		    <input type="text" class="form-control" th:field="*{image}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  
		  <div class="col-md-3">
		    <label for="url" class="form-label">url</label>
		    <input type="text" class="form-control" th:field="*{url}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  
		   <div class="col-md-4">
		    <label for="customer" class="form-label">Customer</label>
		    <select class="form-select" th:field="*{customer}" required>
		      <option selected disabled value="">Choose...</option>
		      <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.firstName}">...</option>
		    </select>
		    <div class="invalid-feedback">
		      Please select a valid state.
		    </div>
		  </div>
		  
		  <div class="col-md-4">
		    <label for="employee" class="form-label">Employee</label>
		    <select class="form-select" th:field="*{employee}" required>
		      <option selected disabled value="">Choose...</option>
		      <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.firstName}">...</option>
		    </select>
		    <div class="invalid-feedback">
		      Please select a valid state.
		    </div>
		  </div>
		  		  
		  <div class="col-12" style="text-align: center;">
		    <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Update</button>
		  </div>
		</form>
	  
	  </div>
	  <div class="card-footer text-muted">

	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>