<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/solid.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleLanding.css">
    <title>StartUp Elec</title>
</head>
<body>
<header>
    <nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: #1F232C;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand hidden-lg-up" href="#"><img src="/images/landingPage/logo.png" alt="" width="93.375"
                                                           height="33"
                                                           class="d-inline-block align-text-top"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand hidden-md-down" href="#"><img src="/images/landingPage/logo.png" alt=""
                                                                 width="93.375" height="33"
                                                                 class="d-inline-block align-text-top"></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Equipo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-success">Registrar</button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <section>

        <img src="/images/landingPage/fondo.png" class="img-fluid" alt="fondo">


    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section>

        <div>
            <h1 class="font-weight-bold text-center" style="color: #1F232C;">Equipo</h1>
        </div>
        <br>
        <br>
        <br>
        <!-- inicio de card -->
        <div class="container">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/landingPage/fontLuis.png" alt="Card image cap">
                    <div class="text-center">
                        <img src="/images/landingPage/Luis.png" alt="Luis Murguía Maldonado"
                             class="img-fluid yoimagen rounded-circle" height="200px" width="200px">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title text-center">Luis Murguía </h4>
                        <p class="card-text text-justify">Soy estudiante de la carrera de Ingeniería de Sistemas de la
                            Información. Yo me comprometo a terminar este proyecto y ayudar a mis compañeros con los
                            posibles problemas que podrían suceder en este proyecto. Mis fortalezas son que soy puntual
                            y responsable.</p>
                    </div>

                </div>
                <div class="card">
                    <img class="card-img-top img-fluid" src="/images/landingPage/fontRodrigo.png" alt="Card image cap">
                    <div class="text-center text-center">
                        <img src="/images/landingPage/Rodrigo.png" alt="Rodrigo Nole Berrocal"
                             class="img-fluid imagen rounded-circle" height="200px" width="200px">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title text-center">Rodrigo Nole</h4>
                        <p class="card-text text-justify">Soy estudiante de la carrera de ingeniería de sistemas de
                            información. Me gusta que las cosas salgan bien, y estoy arduamente comprometido para que
                            los resultados obtenidos en la culminación de este proyecto sean exitosos.</p>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</main>

<footer>

</footer>


<script src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>