<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
    <meta charset="ISO-8859-1">
    <title>Edit Home</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>

    <section>

        <nav aria-label="breadcrumb" class="margin-20">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/homes}">Homes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edist</li>
            </ol>
        </nav>

        <div class="card text-center margin-20">
            <div class="card-header">
                Edit Home
            </div>
            <div class="card-body" style="text-align: left;">

                <form th:action="@{'/customers/' + ${home.id} + '/update'}" th:object="${home}" method="post"
                      class="row g-3 needs-validation" novalidate>
                    <div class="col-md-3">
                        <label for="address" class="form-label">address</label>
                        <input type="text" class="form-control" th:field="*{address}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="description" class="form-label">description</label>
                        <input type="text" class="form-control" th:field="*{description}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>


                    <div class="col-12" style="text-align: center;">
                        <button class="btn btn-warning" type="submit"><i class="fas fa-save"></i> Update</button>
                    </div>
                </form>

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>

</body>
</html>