<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
    <meta charset="ISO-8859-1">
    <title>List of Receipts</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>

    <section>

        <nav aria-label="breadcrumb" class="margin-20">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Receipts</li>
            </ol>
        </nav>

        <div class="card text-center margin-20">
            <div class="card-header">
                Receipts
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">month</th>
                        <th scope="col">amount</th>
                        <th scope="col">description</th>
                        <th scope="col">creationDate</th>
                        <th scope="col">expirationDate</th>
                        <th scope="col"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="receipt : ${receipts}">
                        <th scope="row" th:text="${receipt.id}">1</th>
                        <td th:text="${receipt.month}">Mark</td>
                        <td th:text="${receipt.amount}">Otto</td>
                        <td th:text="${receipt.description}">Otto</td>
                        <td th:text="${receipt.creationDate}">Otto</td>
                        <td th:text="${receipt.expirationDate}">Otto</td>
                        <td>
                            <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')"class="btn btn-warning" th:href="@{'/receipts/' + ${receipt.id} + '/edit'}"
                               role="button"> <i class="fas fa-edit"></i> </a>
                            <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')"class="btn btn-danger" th:href="@{'/receipts/' + ${receipt.id} + '/del'}" role="button">
                                <i class="fas fa-trash-alt"></i> </a>
                            <a sec:authorize="hasRole('ROLE_CUSTOMER')"class="btn btn-success" th:href="@{'/receipts/' + ${receipt.id} + '/pay'}" role="button">
                                <i class="fa-solid fa-badge-check"></i>Pay</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="card-footer text-muted">
                <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="btn btn-primary" th:href="@{/receipts/new}" role="button"> <i class="fas fa-plus"></i> New
                </a>
            </div>
        </div>
    </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>

</body>
</html>